
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>


<title th:text="#{email.activation.title}">Ridgelift creation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="http://ridgelift.io/images/style.css"></link>
<link rel="stylesheet" type="text/css"
	href="https://drive.google.com/a/ridgelift.io/uc?export=view&amp;id=1uxqryVYp6BlTdFGsA3rttkStt7FlIboB"></link>

</head>
<body>
	<div id="background">
		<div id="Background">
			<img
				src="http://drive.google.com/uc?export=view&amp;id=1AOEhAl29oukRDohiGjMAf694CoeHJPrE" />
		</div>
		<div id="Emailverification">
			<img src="http://ridgelift.io/images/Emailverification.png" />
		</div>
		<div id="Layer2">
			<img src="http://ridgelift.io/images/Layer2.png" />
		</div>
		<div id="Rectangle1">
			<img src="http://ridgelift.io/images/Rectangle1.png" />
		</div>
		<div id="email1">
			<img src="http://ridgelift.io/images/email1.png" />
		</div>
		<div id="CongratulationsYouha">
			<img
				src="http://drive.google.com/uc?export=view&amp;id=1g0XfSKK1H8S_O5krvM7VlPb0MVd7ZFep" />
		</div>
		<div id="success">
			<img src="http://ridgelift.io/images/success.png" />
		</div>
		<div id="Rectangle2">
			<img src="http://ridgelift.io/images/Rectangle2.png" />
		</div>
		<div id="ClickheretoLogin">
			<a th:href="@{|${url}|}"><img
				src="http://drive.google.com/uc?export=view&amp;id=1QQv4w3ETfK_K35xe3kmPNgManSb8kqng" /></a>
		</div>
	</div>
</body>
</html>

