<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Employment-validation</title>


</head>

<body
	style="font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif; margin: 0px; padding: 0px;"
	topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">


	<table width="60%" align="center">
		<tr>
			<td><img
				src="http://theenhancewebsolutions.com/demo/blockchain/mock-ups/images/logo-black-text.png"
				alt="" start="widh:70%; height:auto;" /></td>
		</tr>
		<tr>
			<td align="center">
				<h1 style="color: #444444; font-weight: 500;"><span th:text="${type}"></span>
					validation</h1>
			</td>
		</tr>
		<tr>
			<td align="left"
				style="color: #444; font-weight: 500; margin: 10px 0">
				<h4 style="color: #444; font-weight: 500; margin: 4px 0"
					th:text="${name}">[Employer Name]</h4>
			</td>
		</tr>

		<tr>
			<td align="left"
				style="color: #444; font-weight: 500; margin: 10px 0">&nbsp;</td>
		</tr>

		<tr>
			<td align="left"
				style="color: #444; font-weight: 500; margin: 10px 0">
				<h4 style="color: #444; font-weight: 500; margin: 4px 0"
					th:text="${consumer}">[Name of consumer]</h4>
				<h4 style="color: #444; font-weight: 500; margin: 4px 0"
					th:text="${desc}">[Provide narration supplied by consumer for
					validation purposes]</h4>


			</td>
		</tr>


		<tr>
			<td align="left"
				style="color: #444; font-weight: 500; margin: 10px 0">&nbsp;</td>
		</tr>

		<tr>
			<td align="left"
				style="color: #444; font-weight: 500; margin: 10px 0">Dear <b
				th:text="${name}">test</b>
			</td>
		</tr>

		<tr>
			<td align="justify">
				<p>We “Touchstone” are a platform, which securely store
					validated profiles of consumers, in immutable and tamperproof data
					format of Blockchain technology.</p>
				<p>The above [gentleman / lady] is registered and verified
					consumer of our platform and he/she has submitted following details
					about his association with your esteemed institution.</p>



				<p>
					In order to add the said information in his profile, we need
					confirmation about the same from you. <b th:text="${consumer}">test</b>
					has signed a mandate permitting us to collect the requested
					information.
				</p>
				<p>
					Kindly confirm the authenticity about the information provided by <b
						th:text="${consumer}">test</b> , by clicking the following link
					and document
				</p>

				<div th:if="${doc != null}"><a th:href="@{|${doc}|}">Attachment</a></div>

			</td>
			<td align="left"
				style="color: #444; font-weight: 500; margin: 20px 0">&nbsp;</td>

		</tr>
		<tr>
			<td align="center"><a th:href="@{|${url}|}"
				style="background-color: #090381; color: #fff; text-decoration: none; padding: 10px 50px; border-radius: 10px; cursor: pointer; font-size: 18px; letter-spacing: 1px; font-weight: 500;">Validate</a>
			</td>
		</tr>
		<tr>
			<td align="left">
				<p>Thanking you,</p>

				<p>Touchstone team</p>

			</td>
		</tr>

		<tr>
			<td align="left"
				style="color: #444; font-weight: 500; margin: 10px 0">&nbsp;</td>
		</tr>



	</table>


</body>
</html>
